@charset "UTF-8";
.input {
  display: block;
  width: 100%;
  height: 50px;
  background-color: transparent;
  border: 1px solid #5c5c5c;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding-left: 10px;
  outline: none;
}
.input::placeholder {
  color: #5c5c5c;
}
.input:hover {
  cursor: pointer;
  border: 1px solid lightblue;
}
.input:focus {
  border: 1px solid lightblue;
}

.input-primary {
  display: block;
  width: 100%;
  height: 50px;
  background-color: transparent;
  border: 1px solid #18a1cf;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding-left: 10px;
  outline: none;
}
.input-primary::placeholder {
  color: #5c5c5c;
}
.input-primary:hover {
  cursor: pointer;
  border: 1px solid lightblue;
}
.input-primary:focus {
  border: 1px solid lightblue;
}

.input-danger {
  display: block;
  width: 100%;
  height: 50px;
  background-color: transparent;
  border: 1px solid #fc8194;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding-left: 10px;
  outline: none;
}
.input-danger::placeholder {
  color: #5c5c5c;
}
.input-danger:hover {
  cursor: pointer;
  border: 1px solid lightblue;
}
.input-danger:focus {
  border: 1px solid lightblue;
}

.input-warning {
  display: block;
  width: 100%;
  height: 50px;
  background-color: transparent;
  border: 1px solid #f0be2d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding-left: 10px;
  outline: none;
}
.input-warning::placeholder {
  color: #5c5c5c;
}
.input-warning:hover {
  cursor: pointer;
  border: 1px solid lightblue;
}
.input-warning:focus {
  border: 1px solid lightblue;
}

.input-valid {
  display: block;
  width: 100%;
  height: 50px;
  background-color: transparent;
  border: 1px solid #41b668;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding-left: 10px;
  outline: none;
}
.input-valid::placeholder {
  color: #5c5c5c;
}
.input-valid:hover {
  cursor: pointer;
  border: 1px solid lightblue;
}
.input-valid:focus {
  border: 1px solid lightblue;
}

.input-disable {
  display: block;
  width: 100%;
  height: 50px;
  background-color: transparent;
  border: 1px solid darkgray;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding-left: 10px;
  outline: none;
}
.input-disable::placeholder {
  color: #5c5c5c;
}
.input-disable:hover {
  cursor: pointer;
  border: 1px solid lightblue;
}
.input-disable:focus {
  border: 1px solid lightblue;
}

.btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  width: 100%;
  height: 50px;
  border: 1px solid #5c5c5c;
  background-color: transparent;
  color: #5c5c5c;
  border-radius: 5px;
  padding: 0 auto;
  outline: none;
  font-size: 20px;
  font-weight: 900;
  text-align: center;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  transition: all 0.3s ease;
}
.btn:hover {
  cursor: pointer;
  background-color: #5c5c5c;
  color: #fff;
  transition: all 0.3s ease;
}

.btn-primary {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  width: 100%;
  height: 50px;
  border: 1px solid #18a1cf;
  background-color: transparent;
  color: #18a1cf;
  border-radius: 5px;
  padding: 0 auto;
  outline: none;
  font-size: 20px;
  font-weight: 900;
  text-align: center;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  transition: all 0.3s ease;
}
.btn-primary:hover {
  cursor: pointer;
  background-color: #18a1cf;
  color: #fff;
  transition: all 0.3s ease;
}

.btn-danger {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  width: 100%;
  height: 50px;
  border: 1px solid #fc8194;
  background-color: transparent;
  color: #fc8194;
  border-radius: 5px;
  padding: 0 auto;
  outline: none;
  font-size: 20px;
  font-weight: 900;
  text-align: center;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  transition: all 0.3s ease;
}
.btn-danger:hover {
  cursor: pointer;
  background-color: #fc8194;
  color: #fff;
  transition: all 0.3s ease;
}

.btn-warning {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  width: 100%;
  height: 50px;
  border: 1px solid #f0be2d;
  background-color: transparent;
  color: #f0be2d;
  border-radius: 5px;
  padding: 0 auto;
  outline: none;
  font-size: 20px;
  font-weight: 900;
  text-align: center;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  transition: all 0.3s ease;
}
.btn-warning:hover {
  cursor: pointer;
  background-color: #f0be2d;
  color: #fff;
  transition: all 0.3s ease;
}

.btn-valid {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  width: 100%;
  height: 50px;
  border: 1px solid #41b668;
  background-color: transparent;
  color: #41b668;
  border-radius: 5px;
  padding: 0 auto;
  outline: none;
  font-size: 20px;
  font-weight: 900;
  text-align: center;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  transition: all 0.3s ease;
}
.btn-valid:hover {
  cursor: pointer;
  background-color: #41b668;
  color: #fff;
  transition: all 0.3s ease;
}

.btn-disable {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  width: 100%;
  height: 50px;
  border: 1px solid darkgray;
  background-color: transparent;
  color: darkgray;
  border-radius: 5px;
  padding: 0 auto;
  outline: none;
  font-size: 20px;
  font-weight: 900;
  text-align: center;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  transition: all 0.3s ease;
}
.btn-disable:hover {
  cursor: pointer;
  background-color: darkgray;
  color: #fff;
  transition: all 0.3s ease;
}

.item {
  border-radius: 0 5px 5px 0;
  background-color: rgba(255, 255, 255, 0.7);
  border-left: 5px solid #5c5c5c;
  padding: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.item-primary {
  border-radius: 0 5px 5px 0;
  background-color: rgba(255, 255, 255, 0.7);
  border-left: 5px solid #18a1cf;
  padding: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.item-danger {
  border-radius: 0 5px 5px 0;
  background-color: rgba(255, 255, 255, 0.7);
  border-left: 5px solid #fc8194;
  padding: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.item-warning {
  border-radius: 0 5px 5px 0;
  background-color: rgba(255, 255, 255, 0.7);
  border-left: 5px solid #f0be2d;
  padding: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.item-valid {
  border-radius: 0 5px 5px 0;
  background-color: rgba(255, 255, 255, 0.7);
  border-left: 5px solid #41b668;
  padding: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.item-disable {
  border-radius: 0 5px 5px 0;
  background-color: rgba(255, 255, 255, 0.7);
  border-left: 5px solid darkgray;
  padding: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.pin-item {
  color: #3d3d3d;
  padding: 10px 15px;
  text-align: right;
  transition: all 0.3s ease-in-out;
}
.pin-item i {
  transform: rotateZ(-90deg);
  transition: all 0.3s ease-in-out;
}
.pin-item:hover i {
  cursor: pointer;
}
.pin-item.open i {
  transform: rotateZ(0deg);
  color: #fc8194;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease-in-out;
}

.base-modal-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  padding: 40px;
  background-color: rgba(0, 0, 0, 0.9);
}
.base-modal-col-text {
  font-size: 20px;
  text-align: center;
  color: #5c5c5c;
  margin-bottom: 50px;
}

.base-modal-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  padding: 40px;
  background-color: rgba(0, 0, 0, 0.9);
}
.base-modal-row-text {
  font-size: 20px;
  text-align: center;
  color: #5c5c5c;
  margin-bottom: 50px;
}

.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: lightblue;
}

.app-navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: gray;
  color: lightblue;
  padding: 0 20px 0 50px;
}
.app-navbar h1 {
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}
.app-navbar-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  height: 100%;
  padding-top: 25px;
}
.app-navbar-menu-item {
  height: 100%;
  padding-right: 25px;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
  transition: color 0.3s ease-in-out;
}
.app-navbar-menu-item:hover {
  border-bottom: 3px solid lightpink;
  color: lightpink;
  transition: color 0.3s ease-in-out;
}
.app-navbar-menu-item_icon {
  margin-right: 10px;
}

.app-sidebar {
  position: fixed;
  top: 70px;
  left: 0;
  width: 300px;
  height: calc(100% - 140px);
  background-color: gray;
  border-right: 5px solid lightblue;
  transform: translateX(-295px);
  box-shadow: 3px 0 0 0 gray;
  transition: all 0.4s ease-in-out;
}
.app-sidebar.open {
  z-index: 1;
  transform: translateX(0);
  border-right: 5px solid lightpink;
}
.app-sidebar.open + .app-showcase {
  left: 303px;
  min-width: calc(100% - 292px);
  transition: all 0.4s ease-in-out;
}
.app-sidebar.open::before {
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}
.app-sidebar-tabs {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  flex-wrap: nowrap;
  width: 100%;
  padding: 0 10px;
  margin-top: 40px;
  border-bottom: 1px solid #5c5c5c;
}
.app-sidebar-tabs-item {
  padding: 5px;
  border-left: 1px solid #5c5c5c;
  border-top: 1px solid #5c5c5c;
  border-right: 1px solid #5c5c5c;
  border-radius: 5px 5px 0 0;
  text-align: center;
  color: #5c5c5c;
  font-size: 12px;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
}
.app-sidebar-tabs-item.open {
  box-shadow: 0 2px gray;
  color: lightpink;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease-in-out;
}
.app-sidebar-tabs-item:hover {
  cursor: pointer;
}
.app-sidebar::before {
  content: "👈";
  position: absolute;
  top: 0;
  right: -35px;
  font-size: 20px;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
  transition: opacity 0.4s ease-in-out;
}
.app-sidebar:hover {
  transform: translateX(0);
  border-right: 5px solid lightpink;
  transition: all 0.4s ease-in-out;
}
.app-sidebar:hover + .app-showcase {
  left: 303px;
  min-width: calc(100% - 292px);
  transition: all 0.4s ease-in-out;
}
.app-sidebar:hover::before {
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}
.app-sidebar-menu {
  width: 100%;
  height: 100%;
  padding: 70px 20px 70px;
  overflow: auto;
}
.app-sidebar-menu-item {
  width: 100%;
  margin-bottom: 20px;
}
.app-sidebar select {
  color: #5c5c5c;
}

.app-showcase {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  position: fixed;
  top: 70px;
  left: 8px;
  height: calc(100% - 140px);
  width: calc(100% - 8px);
  overflow-y: auto;
  transition: all 0.4s ease-in-out;
}
.app-showcase-item {
  position: relative;
  width: 500px;
  height: 90%;
  margin: 15px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
.app-showcase-item-header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  max-height: 210px;
  background-color: white;
  padding: 10px 10px 0 10px;
  border-bottom: 1px solid darkgray;
}
.app-showcase-item-header-title {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: nowrap;
  font-size: 20px;
  margin-bottom: 10px;
  text-align: right;
}
.app-showcase-item-header-title-text {
  max-height: 70px;
  overflow-y: auto;
}
.app-showcase-item-header-title-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  margin-right: 30px;
}
.app-showcase-item-header-title-menu span {
  color: #5c5c5c;
  padding: 0 2px;
  transition: color 0.3s ease;
}
.app-showcase-item-header-title-menu span:hover {
  cursor: pointer;
}
.app-showcase-item-header-title-menu span:first-child:hover i {
  color: #41b668;
  transition: color 0.3s ease;
}
.app-showcase-item-header-title-menu span:last-child:hover i {
  color: #fc8194;
  transition: color 0.3s ease;
}
.app-showcase-item-header-title-menu span:nth-child(2):hover i {
  color: #18a1cf;
  transition: color 0.3s ease;
}
.app-showcase-item-header-description {
  max-height: 60px;
  font-size: 12px;
  padding-bottom: 5px;
  overflow-y: auto;
  color: #5c5c5c;
}
.app-showcase-item-header-author {
  font-size: 18px;
  text-align: left;
}
.app-showcase-item-header-author span {
  font-size: 11px;
  color: #5c5c5c;
}
.app-showcase-item-header-date {
  font-size: 15px;
  margin-bottom: 10px;
  text-align: left;
}
.app-showcase-item-header-date span {
  font-size: 11px;
  color: #5c5c5c;
}
.app-showcase-item-content {
  width: 100%;
  height: 550px;
  padding: 20px;
  overflow-y: auto;
}
.app-showcase-item-content .task-item {
  position: relative;
  width: 100%;
  color: #5c5c5c;
  margin-bottom: 15px;
}
.app-showcase-item-content .task-item-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  border-bottom: 1px solid darkgray;
}
.app-showcase-item-content .task-item-header-title {
  font-size: 14px;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.app-showcase-item-content .task-item-header-menu {
  margin-right: 5px;
}
.app-showcase-item-content .task-item-header-menu span {
  padding-left: 3px;
}
.app-showcase-item-content .task-item-header-menu span:hover {
  cursor: pointer;
}
.app-showcase-item-content .task-item-header-menu span i {
  color: #5c5c5c;
}
.app-showcase-item-content .task-item-header-menu span:first-child:hover i {
  color: #18a1cf;
}
.app-showcase-item-content .task-item-header-menu span:last-child:hover i {
  color: #fc8194;
}
.app-showcase-item-content .task-item-header-menu span:nth-child(2):hover i.fa-check-circle {
  color: #41b668;
}
.app-showcase-item-content .task-item-header-menu span:nth-child(2):hover i.fa-times-circle {
  color: #fc8194;
}
.app-showcase-item-content .task-item-details {
  border-bottom: 1px solid darkgray;
}
.app-showcase-item-content .task-item-details-author, .app-showcase-item-content .task-item-details-date {
  font-size: 12px;
  font-weight: bold;
}
.app-showcase-item-content .task-item-details-author span, .app-showcase-item-content .task-item-details-date span {
  font-size: 10px;
  margin-right: 5px;
}
.app-showcase-item-content .task-item-content {
  font-size: 11px;
}

.app-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: gray;
  color: lightblue;
  padding: 0 20px 0 50px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  list-style: none;
}

a,
a:active,
a:visited {
  color: inherit;
}

body {
  background-color: lightgray;
}

/*# sourceMappingURL=main.css.map */
