$bg: (
  default: white,
  bk: #000,
  primary: lightgray,
  secondary: gray,
  accent1: lightblue,
  accent2: lightpink,
);

$bg-input: (
  default: lightgrey,
  primary: #18a1cf,
  danger: #fc8194,
  warning: #f0be2d,
  valid: #41b668,
  disable: darkgray,
  accent1: lightblue,
  accent2: lightpink,
);

$txt: (
  default: #5c5c5c,
  wht: #fff,
  bk: #000,
  accent1: lightblue,
  accent2: lightpink,
  primary: #18a1cf,
  danger: #fc8194,
  warning: #f0be2d,
  valid: #41b668,
  disable: darkgray,
);

$bg-btn: (
  default: #5c5c5c,
  wht: #fff,
  bk: #000,
  accent1: lightblue,
  accent2: lightpink,
  primary: #18a1cf,
  danger: #fc8194,
  warning: #f0be2d,
  valid: #41b668,
  disable: darkgray,
);

$sdw: (
  default: rgba(0, 0, 0, 0.5),
  box: rgba(0, 0, 0, 0.2),
);

$bord: (
  default: #5c5c5c,
  primary: #18a1cf,
  danger: #fc8194,
  warning: #f0be2d,
  valid: #41b668,
  disable: darkgray,
  accent1: lightblue,
  accent2: lightpink,
);
