$bg: (
  default: white,
  primary: lightgray,
  secondary: gray,
  accent1: lightblue,
  accent2: lightpink,
);

$txt: (
  default: #fff,
  primary: #000,
  accent1: #18a1cf,
  accent2: #fc8194,
);

$sdw: (
  default: rgba(0, 0, 0, 0.5),
);

$bord: (
  accent1: #18a1cf,
  accent2: #fc8194,
);
