@use 'config' as *;
@use 'functions' as *;
@use 'mixins' as *;

//inputuri_________________________
.input {
  @include input(default);
}
.input-primary {
  @include input(primary);
}
.input-danger {
  @include input(danger);
}
.input-warning {
  @include input(warning);
}
.input-valid {
  @include input(valid);
}
.input-disable {
  @include input(disable);
}

//butoane cu bg transparent______
.btn {
  @include btn(default);
}
.btn-primary {
  @include btn(primary);
}
.btn-danger {
  @include btn(danger);
}
.btn-warning {
  @include btn(warning);
}
.btn-valid {
  @include btn(valid);
}
.btn-disable {
  @include btn(disable);
}

//item [container]_______________
.item {
  @include item(default);
}
.item-primary {
  @include item(primary);
}
.item-danger {
  @include item(danger);
}
.item-warning {
  @include item(warning);
}
.item-valid {
  @include item(valid);
}
.item-disable {
  @include item(disable);
}
.item-critical {
  @include item(bk);
}

//generic pin item...
.pin-item {
  color: darken(set-color($txt, default), 12);
  padding: 10px 15px;
  text-align: right;
  transition: all 0.3s ease-in-out;

  i {
    transform: rotateZ(-90deg);
    transition: all 0.3s ease-in-out;
  }

  &:hover i {
    cursor: pointer;
  }

  &.open {
    i {
      transform: rotateZ(0deg);
      color: set-color($txt, danger);
      text-shadow: 2px 2px 3px set-color($sdw, default);
      transition: all 0.3s ease-in-out;
    }
  }
}

//generic modal screens...
.base-modal-col {
  @include modal-flex-col(center, center, nowrap);
}
.base-modal-row {
  @include modal-flex-row(center, center, nowrap);
}

//basic three sections container...
.container-col {
  @include container-col(accent1, 220px, 2);

  &-header {
    @include flex-row(flex-start, space-between, nowrap);
    width: 100%;
    padding: 5px;
    border-bottom: 1px solid set-color($bord, default);

    .close-icon {
      padding: 0 5px 0 10px;

      &:hover {
        cursor: pointer;
        color: set-color($txt, danger);
      }
    }
  }

  &-body {
    width: 100%;
    height: 280px;
    padding: 5px;
    font-size: 12px;
    color: set-color($txt, default);
    overflow-y: auto;
  }

  &-footer {
    width: 100%;
    padding: 5px;
    border-top: 1px solid set-color($bord, default);
  }
}

.container-row {
  @include container-row(accent1, 190px, 2.5);
  margin-bottom: 5px;
  box-shadow: none;

  &-header {
    @include flex-row(flex-start, space-between, nowrap);
    width: 100%;
    padding: 5px;
    border-bottom: 1px solid set-color($bord, disable);

    .close-icon {
      padding: 0 5px 0 10px;

      &:hover {
        cursor: pointer;
        color: set-color($txt, danger);
      }
    }
  }

  &-body {
    width: 100%;
    padding: 5px;
    font-size: 12px;
    color: set-color($txt, default);
    overflow: auto;
  }

  &-footer {
    width: 100%;
    padding: 5px;
    border-top: 1px solid set-color($bord, default);
  }
}
